* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    color: #fff;
}
body {
    background-color: #03568a;
}

header {
    nav {
        .logo {
            text-align: center;
            margin-top: 57px;
        }
    }
    .usuario {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-top: 35px;
        .user-name {
            h1 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 21px;
                line-height: 32px;
            }
        }
        .logout {
        }
    }
}

main {
    .wallet {
        margin-top: 23px;
        background-color: #36a6d4;
        width: 100%;
        height: 154px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        .seu-wallet {
            display: flex;
            justify-content: center;
            h1 {
                padding-top: 5px;
                padding-left: 10px;
                color: #fff;
                font-weight: 800;
                font-size: 21px;
                line-height: 32px;
            }
            img {
                width: 31px;
                height: 34px;
            }
        }
        .zoio {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 36px;
                height: 36px;
            }
        }

        .price {
            display: flex;
            align-items: center;
            padding-left: 30px;
            span {
                font-size: 41px;
                line-height: 49px;
                font-weight: 900;
            }
        }
    }
    .ativos {
        margin-top: 23px;
        background-color: #0472b7;
        width: 100%;
        height: 154px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .compradores {
            display: flex;
            h1 {
                padding-top: 5px;
                padding-left: 10px;
                color: #fff;
                font-weight: 800;
                font-size: 21px;
                line-height: 19px;
            }
            img {
                width: 32px;
                height: 38px;
            }
        }

        .price {
            display: flex;
            align-items: center;
            padding-left: 30px;
            span {
                font-size: 41px;
                line-height: 49px;
                font-weight: 900;
            }
        }
    }
    .inativos {
        margin-top: 23px;
        background-color: #de1313;
        width: 100%;
        height: 154px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .cadastros {
            display: flex;
            h1 {
                padding-top: 5px;
                padding-left: 10px;
                color: #fff;
                font-weight: 800;
                font-size: 21px;
                line-height: 19px;
            }
            img {
                width: 42px;
                height: 48px;
            }
        }

        .price {
            display: flex;
            align-items: center;
            padding-left: 30px;
            span {
                font-size: 41px;
                line-height: 49px;
                font-weight: 900;
            }
        }
    }
    .incompletos {
        margin-top: 23px;
        background-color: #35a40e;
        width: 100%;
        height: 154px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .seu-wallet {
            display: flex;
            h1 {
                padding-top: 5px;
                padding-left: 10px;
                color: #fff;
                font-weight: 800;
                font-size: 21px;
                line-height: 19px;
            }
            img {
                width: 31px;
                height: 34px;
            }
        }

        .price {
            display: flex;
            align-items: center;
            padding-left: 30px;
            span {
                font-size: 41px;
                line-height: 49px;
                font-weight: 900;
            }
        }
    }
    .icones {
        width: 325px;
        height: 478px;
        margin: 57px auto;
        margin-bottom: 116px;
        a {
            text-decoration: none;
        }
        .juntos {
            display: flex;
            justify-content: space-between;
        }
        .cdc {
            text-align: center;
            padding-top: 15px;
            background: #fff;
            height: 148px;
            width: 154px;
            border-radius: 15px;
            img {
                width: 75px;
                height: 75px;
            }
            h1 {
                font-size: 17px;
                font-weight: 800;
                line-height: 15px;
                color: #03568a;
            }
        }
        .extrato {
            text-align: center;
            padding-top: 30px;
            background: #fff;
            height: 148px;
            width: 154px;
            border-radius: 15px;
            img {
                width: 56px;
                height: 56px;
            }
            h1 {
                padding-top: 5px;
                font-size: 17px;
                font-weight: 800;
                line-height: 15px;
                color: #03568a;
            }
        }
        .status {
            text-align: center;
            margin-top: 17px;
            background: #fff;
            height: 148px;
            border-radius: 15px;
            img {
                margin-top: 25px;
                width: 68px;
                height: 68px;
            }
            h1 {
                padding-top: 15px;
                font-size: 17px;
                font-weight: 800;
                line-height: 15px;
                color: #03568a;
            }
        }
        .ver-incompletos {
            text-align: center;
            margin-top: 17px;
            background: #fff;
            height: 148px;
            width: 154px;
            border-radius: 15px;
            img {
                margin-top: 15px;
                width: 69px;
                height: 69px;
            }
            h1 {
                padding-top: 15px;
                font-size: 17px;
                font-weight: 800;
                line-height: 15px;
                color: #03568a;
            }
        }
        .cadastrar-lead {
            text-align: center;
            margin-top: 17px;
            background: #fff;
            height: 148px;
            width: 154px;
            border-radius: 15px;
            img {
                margin-top: 20px;
                width: 66px;
                height: 66px;
            }
            h1 {
                padding-top: 15px;
                font-size: 17px;
                font-weight: 800;
                line-height: 15px;
                color: #03568a;
            }
        }
    }
}
