* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.top {
    width: 100%;
    height: 300px;
    background-color: #36a6d4;

    .logo {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.login {
    margin: 0 30px;
}

body {
    background-color: #03568a;
}
