* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #f1f1f1;
}
.titulo {
    color: #4f3a57;
    font-weight: 700;
}
.top {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.botao-v {
    display: flex;
    justify-content: center;
    .btn-voltar {
        position: relative;
        bottom: 18px;
        background-color: #1428bf;
        width: 130px;
        padding: 10px;
        color: #fff;
        font-weight: 800;
    }
}

.filtrar {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    p {
        font-size: 20px;
        font-weight: 900;
        color: #55415d;
    }
    .btn-filtro {
        background-color: #162259;
        width: 120px;
        padding: 10px;
        color: #fff;
        font-weight: 800;
    }
}
.portos {
    margin: 0 20px;
    img {
        width: 158.31px;
        height: 148.69px;
        object-fit: cover;
        border-radius: 15px;
    }
    p {
        font-weight: 900;
        font-size: 18px;
        line-height: 94%;
        /* identical to box height, or 17px */
        margin: 8px 0;
        text-align: center;
        letter-spacing: -0.015em;

        /* TÍTULOS E ICONES */
        text-transform: uppercase;
        color: #4f3a57;
    }
    // .porto {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     margin: 0 auto;
    //     height: 160px;
    //     border-radius: 10px;
    //     background-color: #fff;
    // }
}
// PAGINA LISTAGEM DE PRODUTOS

.top_1 {
    width: 100%;
    height: 150px;
    background-color: #fff;
    .nome-porto {
        text-align: center;
        padding-top: 70px;
        color: #4f3a57;

        h1 {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 2em;
        }
    }
}

.filtrar_1 {
    margin: 0 20px;
    display: flex;
    padding-left: 50%;
    p {
        font-size: 20px;
        font-weight: 900;
        color: #55415d;
    }
    .btn-filtro {
        background-color: #162259;
        width: 120px;
        padding: 10px;
        color: #fff;
        font-weight: 800;
    }
}
.valor-monetario {
    background-color: #1b2ec0;
    color: #ccc;
    font-size: 14px;
    font-weight: 900;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
.valor-kg {
    background-color: #0ece39;
    color: #ccc;
    font-size: 14px;
    font-weight: 900;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
.total {
    background-color: #06cc32;
    width: 100%;
    align-items: center;
    position: fixed;
    bottom: 0;
    .itens {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        color: #fff;
        font-weight: 900;
        text-transform: uppercase;
        padding-top: 20px;
    }
}
.finalizar {
    button {
        width: 100%;
        height: 60px;
        background-color: #162259;
        color: white;
        font-size: 20px;
        font-weight: 900;
        border: none;
    }
}
.detalhes {
    margin-bottom: 150px;
    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 15px;
    }
    p {
        font-weight: 900;
        font-size: 18px;
        line-height: 94%;
        /* identical to box height, or 17px */
        margin: 8px 0;
        text-align: center;
        letter-spacing: -0.015em;

        /* TÍTULOS E ICONES */
        text-transform: uppercase;
        color: #4f3a57;
    }
}
.modal-title {
    margin: 0 55px;
    text-transform: uppercase;
    color: #4f3a57;
    font-weight: 900;
}
.modal-body {
    h1 {
        text-transform: uppercase;
        color: #4f3a57;
        font-weight: 900;
    }
    h4 {
        text-transform: uppercase;
        color: #4f3a57;
        font-weight: 800;
    }
    h6 {
        text-transform: uppercase;
        color: #4f3a57;
        font-weight: 600;
    }
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 150px;
    }
}
.btn-in-geral {
    background-color: midnightblue;
    color: white;
    padding: 10px;
    font-weight: 900;
    width: 220px;
}
.precokg {
    background-color: mediumblue;
    padding: 10px;
    width: 220px;
    margin: 0 auto;
    border-radius: 5px;
    span {
        color: #fff;
        font-weight: 900;
    }
}
.stock {
    h2 {
        font-weight: 900;
        color: #4f3a57;
    }
}

// input number

.input-number {
    width: 80px;
    padding: 0 12px;
    vertical-align: top;
    text-align: center;
    outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
    border: 1px solid #ccc;
    height: 40px;
    user-select: none;
}

.input-number-decrement,
.input-number-increment {
    display: inline-block;
    width: 30px;
    line-height: 38px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    &:active {
        background: #ddd;
    }
}

.input-number-decrement {
    border-right: none;
    border-radius: 4px 0 0 4px;
}

.input-number-increment {
    border-left: none;
    border-radius: 0 4px 4px 0;
}

.btn-comprar {
    width: 150px;
    background-color: limegreen !important;
    color: #fff;
    font-weight: 800;
}
.btn-comprar:hover {
    color: #fff;
}
.endereco {
    p {
        font-size: 18px;
        font-weight: 600;
        color: #4f3a57;
    }
}
.btn-editar-morada {
    width: 300px;
    background-color: limegreen;
    color: white;
    font-weight: 700;
    padding: 10px;
}
.btn-editar-morada:hover {
    color: white;
}

.btn-cadastrar-morada {
    width: 300px;
    background-color: midnightblue;
    color: white;
    font-weight: 700;
    padding: 10px;
}
.btn-cadastrar-morada:hover {
    color: white;
}
.top_2 {
    margin-bottom: 140px;
    width: 100%;
    height: 408px;
    background-color: #fff;

    .products-list {
        font-size: 18px;
        font-weight: 900;
        .itens {
            span {
                padding-left: 10px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}
.top_3 {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    .total-price {
        display: flex;
        justify-content: space-between;

        .euros {
            h1 {
                font-weight: 900;
            }
        }
    }
}
.top_4 {
    margin-bottom: 20px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    .total-price {
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
            width: 68px;
            height: 68px;
        }
    }
}
.termos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}
